.sidebar {
    position: relative;
}

.sidebar .nav-item {
    margin-top: 5px;
}

.sidebar .nav .navs {
    padding: 8px 8px 8px 15px !important;
    color: #787878;
}

.sidebar .nav-link {
    font-weight: 500;
}

.nav i {
    width: 25px;
}

.nav .active {
    color: #4d8aff !important;
    background-color: #e7e7e7!important;
}

.nav .active i {
    color: #4d8aff !important;
}

.sidebar .nav .navs:hover {
    background: #e7e7e7!important;
}