<div class="sidebar h-100 ">
    <nav class="nav p-1">
        <ul class="nav">
            <li class="nav-item w-100">
                <a class="nav-link navs"
                   routerLinkActive="active"
                   [routerLink]="['dashboard']">
                    <i class="fas fa-hourglass-half"></i>{{ 'menu.dashboard' | translate }}</a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link  navs"
                   routerLinkActive="active"
                   [routerLink]="['pages']">
                    <i class="fas fa-window-restore"></i> {{ 'menu.pages' | translate }}</a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link  navs"
                   routerLinkActive="active"
                   [routerLink]="['products']">
                    <i class="fab fa-product-hunt"></i> {{ 'menu.products' | translate }}</a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link  navs"
                   routerLinkActive="active"
                   [routerLink]="['contents']">
                    <i class="fa fa-id-card"></i> {{ 'menu.contents' | translate }}</a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link  navs"
                   routerLinkActive="active"
                   [routerLink]="['user']">
                    <i class="fas fa-user-shield"></i> {{ 'menu.user' | translate }}</a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link  navs"
                   routerLinkActive="active"
                   [routerLink]="['partner']">
                    <i class="far fa-handshake "></i> {{ 'menu.partner' | translate }}</a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link  navs d-flex align-items-center justify-content-between"
                   routerLinkActive="active"
                   [routerLink]="['contacts']">
                    <span> <i class="fa fa-paper-plane "></i> {{ 'menu.contact' | translate }}</span>
                    <span class="badge badge-pill badge-danger"
                          *ngIf="data.length > 0 && data[0].amount > 0">{{ data[0].amount }}</span></a>
            </li>
            <li class="nav-item w-100">
                <a class="nav-link  navs"
                   routerLinkActive="active"
                   [routerLink]="['setting']">
                    <i class="fas fa-cog "></i> {{ 'menu.settings' | translate }}</a>
            </li>
        </ul>
    </nav>
    <div class="copyright position-fixed"
         style="bottom: 10px; left: 15px;">
        <small>Powered by Chips</small>
    </div>
</div>