@import 'src/scss/abstracts/colors';

.app-header {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.phone {
    opacity: 0.9;
    width: 35px;
    height: 35px;
    bottom: 120px;
    right: 20px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    z-index: 2;
}

/*nút scroll*/

.scroll-top {
    opacity: 0.9;
    width: 35px;
    height: 35px;
    bottom: 120px;
    right: 38px;
    line-height: 40px;
    text-align: center;
    font-size: 25px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    z-index: 2;
}

.fas {
    font-size: 18px;
    position: absolute;
    color: white;
    top: 25%;
}

.fas.fa-long-arrow-alt-up {
    left: 37%;
}

.fas.fa-phone {
    left: 23%;
}

.icon {
    top: 9px !important;
    left: 7px !important;
}

.scroll-top:hover i {
    transform: rotate(360deg);
}

.eltdf-page-footer .widget:last-child {
    margin-bottom: 0 !important;
}

.eltdf-social-icons-group-widget.text-align-left {
    text-align: left;
}

.eltdf-page-footer .widget {
    margin: 0 0 41px;
    color: #ccc;
}

.eltdf-social-icon-widget-outer {
    position: fixed;
    display: inline-block;
    vertical-align: top;
    padding: 8px 0;
    font-size: 16px;
    z-index: 2;
}

.eltdf-social-icon-widget-holder {
    position: fixed;
    display: block;
    width: 34px;
    font-size: inherit;
    height: 34px;
    text-align: center;
}

.eltdf-social-icon-widget-holder::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-secondary);
    box-sizing: border-box;
    transform: rotate(45deg);
    box-shadow: 1px 1px 5px #00000057;
}

eltdf-icon-has-hover:hover {
    color: #fff;
}

.fa-long-arrow-alt-up {
    color: #fff !important;
}

.icon-contact {
    position: fixed;
    bottom: 60px;
    left: 65px;

    z-index: 999;

    img {
        transform: translateZ(0);
    }

    &-zalo {
        > img {
            width: 40px;
        }
    }

    &-tel {
        margin-left: 5px;
        height: 36px;

        border-radius: 25px;
        background-color: rgba(234, 42, 48, 0.82);

        > img {
            margin-top: -1px;
            margin-left: -46px;

            width: 87.5px;
            opacity: 0.67;
        }

        > span {
            margin-left: -12.5px;
        }
    }
}

/*---------- end scroll --------------*/

@media (max-width: 415px) {
    .scroll-top {
        right: 28px;
        bottom: 42px !important;
    }
    .phone {
        right: 28px;
    }
}

@media (max-width: 411px) {
    .scroll-top {
        right: 28px;
        bottom: 43px !important;
    }
    .scrollphone1 {
        bottom: 140px !important;
    }
    .phone {
        right: 28px;
    }
}

@media (max-width: 375px) {
    .scroll-top {
        right: 28px;
        bottom: 41px !important;
    }
    .phone {
        right: 28px;
    }
}

@media (max-width: 360px) {
    .scroll-top {
        right: 28px;
        bottom: 40px !important;
    }
    .phone {
        right: 28px;
    }
}

@media (max-width: 320px) {
    .scroll-top {
        right: 28px;
        bottom: 42px !important;
    }
    .phone {
        right: 28px;
    }
}
