<app-header class="app-header bg-white"></app-header>

<main>
    <router-outlet></router-outlet>
</main>

<app-footer></app-footer>

<div class="icon-contact d-none d-md-block">
    <a class="icon-contact-zalo nav-link p-0" href="{{ 'FEHrefZalo' | translate }}" target="_blank"
        *ngIf="('FEHrefZalo' | translate) !== 'FEHrefZalo' && ('FEHrefZalo' | translate) !== ''">
        <img class="img-fluid d-block" src="../../assets/img/zalo.png" alt="">
    </a>
    <a class="icon-contact-tel nav-link px-3 d-flex align-items-center mt-3" href="tel:{{ 'FEPhone_2' | translate }}"
        *ngIf="('FEPhone_2' | translate) !== 'FEPhone_2' && ('FEPhone_2' | translate) !== ''">
        <img class="img-fluid d-block" src="../../assets/img/phone.gif" alt="">
        <span class="text-white font-weight-bold">
            {{ 'FEPhone_2' | translate }}
        </span>
    </a>
</div>

<div class="eltdf-social-icon-widget-outer">
    <div class="scroll-top eltdf-social-icon-widget-holder eltdf-icon-has-hover">
        <i class="fas fa-long-arrow-alt-up"></i>
    </div>
</div>