@import 'src/scss/abstracts/colors';

.sub-menu {
    position: absolute;
    top: 61px;
    right: -56px;
    left: -43.5%;

    background-color: #fff;
    box-shadow: 0 9px 14px rgb(0 0 0 / 25%);

    z-index: 999;
    height: 300px;
}

.sub-menu #sub-menu-1 {
    padding: 10px 0;
    width: 220px;
    height: 100%;

    list-style: none;

    color: #fff;
    background-color: $colorPrimary;

    > li:focus {
        outline: unset;
    }
}

#sub-menu-2 {
    display: none;

    padding: 15px;
    padding-top: 17.5px;
    width: calc(100% - 220px);
    height: 100%;

    position: absolute;
    top: 0;
    left: 220px;

    overflow: hidden;
}

.sub-menu-3 {
    width: 300px;
    overflow: hidden;

    > .nav-link {
        font-size: 14px;
    }
}

/* li:hover .sub-menu, */
li .sub-menu li:hover #sub-menu-2,
.active:first-child #sub-menu-2 {
    display: block !important;
}

li .sub-menu li #sub-menu-2 span {
    color: #666;
}

.active .titleAcitve,
li .sub-menu li:hover .titleAcitve {
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

.sub-menu-3:hover span {
    color: $colorPrimary !important;
}

.active div:after,
li .sub-menu #sub-menu-1 li:hover div:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 9px solid #fff;
}

.text__hidden {
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
