<div class="card">
    <div class="card-header">
        <strong>{{ 'contact.lblContact' | translate }}</strong>
        <div class="float-md-right">
            <div class="input-group input-group-sm">
                <input type="text"
                       (keyup)="cwstable._search()"
                       [(ngModel)]="cwstable.search.value"
                       class="form-control"
                       placeholder="{{ 'search.lblList'|translate }}">
            </div>
        </div>
    </div>
    <table class="table table-hover"
           style="cursor: pointer">
        <thead>
            <tr>
                <th *ngFor="let col of cwstable.cols"
                    (click)="cwstable._sorting(col.field)"
                    [ngClass]="{ 'sorting' : cwstable.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'd-none' : col.show==false }">
                    <div [(ngSwitch)]="col.field">
                        <span *ngSwitchDefault>{{ col.title | translate }}</span>
                        <i *ngIf="cwstable.sorting.field==col.field"
                           class="fa"
                           [ngClass]="{ 'fa-long-arrow-down' : cwstable.sorting.sort=='asc' , 'fa-long-arrow-up' : cwstable.sorting.sort=='desc' }"></i>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cwstable.data; let i= index"
                [ngClass]="{'bg-warning': !item.checked }">
                <td *ngFor="let col of cwstable.cols"
                    [ngClass]="{ 'd-none' : col.show==false }">
                    <div [(ngSwitch)]="col.field">
                        <span *ngSwitchCase="'index'"> {{ i+1 }}</span>

                        <a *ngSwitchCase="'email'"
                           [routerLink]="['../info-contact/',item.id]">
                            {{ item[col.field] }}
                        </a>
                        <div *ngSwitchCase="'maker_date'">
                            <span>{{ item.maker_date |date:'dd/MM/yyyy' }}</span>
                        </div>
                        <div *ngSwitchCase="'message'">
                            <div
                                 style="width: 170px;overflow: hidden;display: flex;-webkit-line-clamp: 2;-webkit-box-orient: vertical;">
                                <span>{{ item.message }}</span>
                            </div>
                        </div>

                        <span *ngSwitchDefault>{{ item[col.field] }}</span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="card-footer">
        <div class="float-md-left">
            <span>{{ cwstable.settings.first }} - {{ cwstable.settings.last }} of {{ cwstable.settings.total }}</span>
            <span>
                <a (click)="cwstable._previousnext(false)"
                   style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-left"
                       aria-hidden="true"></i>
                </a>
                <a (click)="cwstable._previousnext(true)"
                   style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        </div>
    </div>
</div>