<div class="card">
    <div class="card-header"
         style="cursor: pointer;">
        <strong>{{ 'contents.title' | translate }}</strong>
        <div class="float-md-right d-flex">
            <div class="input-group input-group-sm">
                <input type="text"
                       (keyup)="cstable._search()"
                       [(ngModel)]="cstable.search.value"
                       class="form-control"
                       placeholder="{{ 'search.lblList'|translate }}">
            </div>

        </div>
    </div>
    <div style="overflow-x:auto;">
        <table class="table table-hover"
               *ngIf="!show || show==false">
            <thead>
                <tr>
                    <th *ngFor="let col of cstable.cols"
                        (click)="cstable._sorting(col.field)"
                        [ngClass]="{ 'sorting' : cstable.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'd-none' : col.show==false }">
                        <div [(ngSwitch)]="col.field">
                            <span *ngSwitchDefault>{{ col.title | translate }}</span>
                            <i *ngIf="cstable.sorting.field==col.field"
                               [ngClass]="{ 'fas fa-long-arrow-down' : cstable.sorting.sort=='asc' ,
                                 'fas fa-sort-amount-up-alt' : cstable.sorting.sort=='desc' }"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of cstable.data">
                    <td *ngFor="let col of cstable.cols"
                        [ngClass]="{ 'd-none' : col.show==false}">
                        <span [(ngSwitch)]="col.field">
                            <div *ngSwitchCase="'name'"
                                 style="width: 250px;">
                                <a class="nav-link"
                                   [routerLink]="['../update/',item.id]">
                                    {{ item[col.field] }}
                                </a>
                            </div>
                            <span *ngSwitchCase="'maker_date'">
                                {{ item[col.field]| date: 'dd/MM/yyyy' }}
                            </span>
                            <!-- <span *ngSwitchCase="'action'" class='display-action'>
                                <button class="btn btn-link btn-sm text-danger" (click)="onRemove(item.id,item.name)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </span> -->
                            <span *ngSwitchCase="'action'"
                                  class='display-action'>
                                <button class="btn btn-link btn-sm "
                                        (click)="pinContent(item.id,+item.pin)"
                                        [ngClass]="+item.pin == 1 ?'text-success':'text-danger'">
                                    <i *ngIf="+item.pin == 1"
                                       class="fas fa-thumbtack"
                                       style="transform: rotate(45deg);"> </i>
                                    <i *ngIf="+item.pin == 0"
                                       class="fas fa-thumbtack"
                                       style="transform: rotate(45deg);"></i>
                                </button>
                                <button class="btn btn-link btn-sm "
                                        [routerLink]="['../update/',item.id]">
                                    <i class="fas fa-pencil-alt text-dark"></i>
                                </button>
                                <button class="btn btn-link btn-sm text-danger"
                                        (click)="onRemove(item.id , item.name)">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </span>
                            <span *ngSwitchCase="'status'"
                                  [ngClass]=" item[col.field]  == 1 ? 'text-success' : 'text-danger' ">
                                {{ (item[col.field] == 1 ? 'status.active' : 'status.disabled') | translate }}
                            </span>
                            <span *ngSwitchDefault>{{ item[col.field] }}</span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="float-md-left">
            <span>{{ cstable.settings.first }} - {{ cstable.settings.last }} of {{ cstable.settings.total }}</span>
            <span>
                <a (click)="cstable._previousnext(false)"
                   style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-left"
                       aria-hidden="true"></i>
                </a>
                <a (click)="cstable._previousnext(true)"
                   style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        </div>

    </div>
</div>
<div class="fixed-action-btn text-center">
    <a [routerLink]="['../insert']"
       class="text-white "
       style="text-decoration: none">
        <div class="getlistadd d-flex align-items-center justify-content-center">
            <i class="fas fa-plus"></i>
        </div>
    </a>
</div>