<a class="nav-link text-dark p-0 pb-2"
   [routerLink]="['/tin-tuc/'+item.parent_link+'/'+item.link]">
    <div class="card-content d-flex align-items-center">
        <div class="item-images position-relative"
             *ngIf="images">
            <img class="images"
                 width="100%"
                 [defaultImage]="item.images ? item.images : '../../../../assets/img/default.png'"
                 [lazyLoad]="item.images"
                 [title]="item.name"
                 [alt]="item.name"
                 style="object-fit: cover;">
        </div>
        <div class="card-text  box-content-text px-2"
             [ngStyle]="{'width': images ? '65%':'100%'}">
            <div class="font-weight-bold content-name">{{ item.name }}
            </div>
            <div class="info-container align-items-center d-flex justify-content-between pt-2 "
                 style="font-size: 12px;">
                <div class="mr-2 fz-13">
                    <i class="far fa-calendar-alt mr-1 fz-13 "></i>
                    <span class="mr-2 fz-13">{{ item.maker_date |date:'dd-MM-yyyy' }}</span>
                </div>
                <div class="icon-views fz-13">
                    <i class="fas fa-eye mr-1 fz-13"></i>
                    <span class="mr-2 fz-13">{{ (item.views > 0) ? item.views:0 }}</span>
                </div>
            </div>
        </div>
    </div>
</a>