<div class="bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row pt-md-5 pt-4">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent border-0 m-0 p-0"
                            *ngIf="data.name && data.name.length > 0">
                            <li class="breadcrumb-item " aria-current="page">
                                <a [routerLink]="['/']" routerLinkActive="router-link-active">
                                    {{ 'lblHome' | translate }}
                                </a>
                            </li>
                            <li class="breadcrumb-item " aria-current="page"
                                *ngIf="data.parent_name && data.parent_name != ''">
                                <a [routerLink]="['/san-pham/'+ data.pages_link]" routerLinkActive="router-link-active">
                                    {{ data.parent_name }}
                                </a>
                            </li>
                            <li class="breadcrumb-item active " aria-current="page">{{ data.name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light pt-4">
    <div class="container-main ">
        <div class="container-fluid ">
            <div class="row bg-white pb-4">
                <div class="col-md-4">
                    <div class="pt-3" *ngIf="listImages.data && listImages.data.length > 0">
                        <owl-carousel-o #owlLibrary style="overflow:hidden;" [options]=" library.libraryOptions "
                            class="owl-product" (changed)=" library.getPassedData($event) "
                            (initialized)=" library.getPassedData($event)">
                            <ng-container *ngFor=" let item of listImages.data;index as i ">
                                <ng-template carouselSlide [id]="'images-' + i" style="overflow:hidden; ">
                                    <a data-fancybox="images-preview-desk" data-thumbs='{"autoStart":true}'
                                        [href]="globals.BASE_API_URL + 'public/products/'+item">
                                        <img class="rounded  images-detail"
                                            [defaultImage]="globals.BASE_API_URL + 'public/products/'+ item "
                                            [lazyLoad]="globals.BASE_API_URL + 'public/products/'+ item " [alt]=" item "
                                            [name]="item">
                                    </a>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                        <div class="pt-2 d-flex justify-content-center">
                            <div *ngFor=" let item of listImages.data;let i = index" class="position-relative">
                                <img class="img-child" [ngClass]="{'d-none ': i > 4 && width < 415 }"
                                    (click)="library.onClickImageChild('images-' + i + '-child') ;owlLibrary.to('images-' + i)"
                                    [id]="'images-' + i + '-child'"
                                    [defaultImage]="'../../../../assets/img/default.png'"
                                    [lazyLoad]="globals.BASE_API_URL + 'public/products/'+ item " [alt]="item"
                                    [name]="item">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-12 ">
                    <h4 class="card-title font-weight-bold mt-3">
                        {{ data.name }}
                    </h4>

                    <div class="py-2 d-flex"
                        *ngIf="data.brand && data.brand.length > 0 || data.origin && data.origin.length > 0 ">
                        <div *ngIf="data.brand && data.brand.length > 0">
                            <span class="font-weight-bold">{{ ('FEProductsDetail.brand' | translate) + ': ' }}</span>
                            <span class="color-main">
                                {{ data.brand }}
                            </span>
                        </div>
                        <div *ngIf="data.origin && data.origin.length > 0" class="ml-3">
                            <span class="font-weight-bold">{{ ('FEProductsDetail.origin' | translate) + ': ' }}</span>
                            <span class="color-main">
                                {{ data.origin }}
                            </span>
                        </div>
                    </div>

                    <div class="py-2" *ngIf="data.parent_name && data.parent_name.length > 0">
                        <span class="font-weight-bold">
                            {{ 'FEProduct.category' | translate }}: {{ data.parent_name }}
                        </span>
                    </div>

                    <div class="py-2" *ngIf="data.inventory && data.inventory.length > 0">
                        <span>{{ 'FEProductsDetail.status' | translate }}: </span>
                        <span class="font-weight-bold">{{ data.inventory }}</span>
                    </div>

                    <div class="d-flex align-items-baseline mt-2">
                        <div *ngIf="+data.price_sale > 0"
                            [ngClass]="{'price-sale font-weight-bold': +data.price_sale > 0}" class="mr-3">
                            <span class="h3 font-weight-bold">
                                {{ (+data.price_sale).toLocaleString('vi') }}đ
                            </span>
                        </div>
                        <div
                            [ngClass]="+data.price_sale > 0 ? 'price text-black-50 ' : 'price-sale font-weight-bold ' ">
                            <span class="h3 font-weight-bold">
                                {{ data.price > 0 ? (+data.price).toLocaleString('vi')+'đ' : ('lblContact' |
                                translate) }}
                            </span>
                        </div>
                    </div>

                    <p class="my-2">{{ +data.vat === 1 ? '(Đã bao gồm VAT)' : '(Chưa có VAT)' }}</p>

                    <div *ngIf="data.info && data.info.length > 0" class="my-3 w-100 images" id="productDetail"
                        [innerHTML]="data.info | sanitizeHtml">
                    </div>
                </div>
                <div class="col-md-3 col-12 d-none d-md-block">
                    <div style="position: sticky;z-index: 0;top: 62px;overflow: hidden;">
                        <div class="card-header text-white mt-3 text-uppercase font-weight-bold border-0 text-center"
                            style="background-color: var(--color-primary);">
                            {{ 'lblSupport' | translate }}
                        </div>
                        <div class="card-body pl-2 pr-2"
                            style="border: 1px solid var(--color-primary); border-top: none !important; ">
                            <div class=" d-flex align-items-center "
                                *ngIf="('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != ''">
                                <div>
                                    <a class="text-white mr-1" href="tel:{{ 'FEPhone'|translate }}">
                                        <img class="mr-2" src="../../../../assets//img/phone-call.png "
                                            style="width: 20px " alt="tigetnet">
                                    </a>
                                </div>
                                <div style="font-size: 15px; ">
                                    <a class=" ml-1 text-dark" href="tel:{{ 'FEPhone'|translate }}">
                                        {{ 'FEPhone_2'|translate }}
                                    </a>
                                </div>
                            </div>
                            <div class="mt-2 d-flex align-items-center ">
                                <div>
                                    <img class="mr-2 " src="../../../assets/img/mail.png " style="width: 20px "
                                        alt="tigetnet">
                                </div>
                                <div style="font-size: 15px; ">
                                    <a class="ml-1 text-dark" href="mailto:{{ 'FEMail'|translate }}">
                                        {{ 'FEMail' | translate }}
                                    </a>
                                </div>
                            </div>
                            <div class=" mt-2 d-flex ">
                                <div>
                                    <img class="mr-2 " src="../../../assets/img/address.png " style="width: 20px"
                                        alt="tigetnet">
                                </div>
                                <div style="font-size: 15px; ">
                                    <a class="ml-1 text-dark">{{ 'FEAddress' | translate }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-white place">
                <div class=" col-12 ">
                    <div class="title-border position-relative">
                        <h2 class="mb-0 font-weight-bold text-uppercase d-inline-block">
                            {{ 'FEProductsDetail.detail' | translate }}
                        </h2>
                    </div>
                    <div *ngIf="data.detail && data.detail.length> 0" class="text-justify pt-4">
                        <div class="pr-3 w-100 images" id="productDetail" [innerHTML]="data.detail | sanitizeHtml">
                        </div>
                    </div>
                    <div *ngIf="!data.detail || data.detail.length == 0" class=" pt-4 pb-4">
                        <div class=" text-center pt-4 pb-4">
                            <h4>{{ 'lblUpdating' | translate }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-light pt-4 pb-5">
    <div class="container-main ">
        <div class="container-fluid bg-white pb-4" id="owl-carousel">
            <div class="row">
                <div class="col-md-12 py-4" style="position:relative">
                    <div class="title-border position-relative">
                        <h2 class="mb-0 font-weight-bold text-uppercase d-inline-block">
                            {{ 'FEProductsDetail.productGroup' | translate }}
                        </h2>
                    </div>
                </div>
            </div>
            <div *ngIf="!related.data || related.data.length == 0" class=" pt-4 pb-4">
                <div class=" text-center pt-4 pb-4">
                    <h4>{{ 'lblNotRelated' | translate }}</h4>
                </div>
            </div>
            <owl-carousel-o [options]="related.relatedOptions" class="owl-product">
                <ng-container *ngFor="let item of related.data">
                    <ng-template carouselSlide
                        [width]="(width > 415 && related.data.length >= 4) || (width < 415 && related.data.length >= 2) ? '' :  widthOwl ">
                        <app-box-product [item]="item"></app-box-product>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</div>