/* Colors rules */

$colorPrimary: #0098da;
$colorSecondary: #c40a0b;
$colorWhite: #fff;
// $colorText: #525252;
// $colorHeaderIcon: #479cf6;
// $bgFooter: #010f27;
// $borderPrimary: #cfcfcf;

.color-primary {
    color: $colorPrimary;
}

.bg--primary {
    background-color: $colorPrimary;
}

.bg--secondary {
    background-color: $colorSecondary;
}

.color-primary--hover:hover {
    color: $colorPrimary;
}

.color-secondary {
    color: $colorSecondary;
}

// .color-text {
//     color: $colorText;
// }

.is--active {
    color: $colorPrimary !important;
}
