/* Responsive */

$w-sm: 425px;
$w-md: 768px;
$w-lg: 1024px;

@mixin viewport-xl {
    @media (min-width: #{$w-lg + 1px}) {
        @content;
    }
}

@mixin viewport-lg {
    @media (max-width: $w-lg) {
        @content;
    }
}

@mixin viewport-md {
    @media (max-width: $w-md) {
        @content;
    }
}

@mixin viewport-sm {
    @media (max-width: $w-sm) {
        @content;
    }
}
