<header class="bg-white mb-2" style="box-shadow: 0 0 15px 0 rgb(41 61 88 / 10%);">
    <div class="container-main ">
        <div class="container-fluid">
            <div class="row d-none d-md-flex">
                <div class="col-md-10 col-lg-8">
                    <div class="d-flex align-items-center justify-content-between py-1">
                        <div class="contact" style="font-size: 14px;">
                            <a class="pl-0" *ngIf="('FEMail' | translate) != 'FEMail' && ('FEMail' | translate) != ''"
                                href="mailto:{{ 'FEMail'|translate }}">
                                <i class="fas fa-envelope mr-1"></i>
                                {{ 'lblEmail' | translate }}:
                                {{ 'FEMail'|translate }}
                            </a>
                            <span style="color: #7a8088;">
                                <i class="fas fa-phone-alt mr-1"></i>
                                <a class="px-0" href="tel:{{ 'FEPhone'|translate }}"
                                    *ngIf="('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != ''">
                                    {{ 'FEFooter.quotation' | translate }}
                                    {{ 'FEPhone' | translate }}
                                </a>
                                <span class="px-1"
                                    *ngIf="('FEPhone_2' | translate) != 'FEPhone_2' && ('FEPhone_2' | translate) != ''">|</span>
                                <a class="px-0"
                                    *ngIf="('FEPhone_2' | translate) != 'FEPhone_2' && ('FEPhone_2' | translate) != ''"
                                    href="tel:{{ 'FEPhone_2'|translate }}">
                                    {{ 'FEFooter.company' | translate }}
                                    {{ 'FEPhone_2'|translate }}
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-lg-4 text-right">
                    <div class="footer-social">
                        <a target="_blank" [href]="('FEHrefFacebook' | translate)"
                            *ngIf="('FEHrefFacebook' | translate)!='FEHrefFacebook' && ('FEHrefFacebook' | translate)!=''"
                            class="footer-social mr-3">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a target="_blank" [href]="('FEHrefInstagram' | translate)"
                            *ngIf="('FEHrefInstagram' | translate)!='FEHrefInstagram' && ('FEHrefInstagram' | translate)!=''"
                            class="footer-social mx-3">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a target="_blank" [href]="('FEHrefYoutube' | translate)"
                            *ngIf="('FEHrefYoutube' |  translate)!='FEHrefYoutube' && ('FEHrefYoutube' |  translate)!=''"
                            class="footer-social ml-3">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
            <hr class="m-0" />
        </div>
    </div>
    <div [ngClass]="{'menu': width < 769}" id="header">
        <div class=" container-main ">
            <div class=" container-fluid ">
                <div class="row align-items-center py-2">
                    <div class="col-3">
                        <div class="text-center">
                            <a [routerLink]="'/'" *ngIf="('company.logo' | translate) != ''" class="d-inline-block">
                                <img class="logo-header" [defaultImage]="('company.logo' | translate)"
                                    [lazyLoad]="('company.logo' | translate)" [title]="('company.name' | translate)"
                                    [alt]="('company.name' | translate)" />
                            </a>
                        </div>
                    </div>
                    <div class="col-9 d-none d-lg-block">
                        <div class="d-flex align-items-center position-relative">
                            <app-menu class="w-100 d-flex justify-content-end"></app-menu>
                            <div class="nav-item text-center" style="width: 20px;">|</div>
                            <div class="nav-item text-right p-0" style="width: 40px;">
                                <div style="font-size: 18px;cursor: pointer;" (click)="search.showSearch()">
                                    <i class="far fa-search color-primary" *ngIf="!search.icon"></i>
                                    <i class="far fa-times color-primary" *ngIf="search.icon"></i>
                                </div>
                                <div class="search " *ngIf="search.icon">
                                    <div>
                                        <input type="text" id="search" (keyup.enter)="search.onSearch();" autofocus
                                            [(ngModel)]="search.value" autocomplete="off"
                                            class="form-control input-search w-100"
                                            placeholder="{{ 'FESearch.title'|translate }}">

                                        <div class="position-absolute" style="top:14px; right: 15px;cursor: pointer;"
                                            (click)="search.onSearch()">
                                            <i class="far fa-search text-black-50"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-9 d-md-block">
                        <div class="float-right position-relative d-flex">
                            <div class="ml-md-3 search-action d-lg-none bg-icon"
                                (click)="menuMobile.onShowSearchMobile(!menuMobile.showMobile)">
                                <i class="far fa-search p-3" style="color : black;" *ngIf="menuMobile.showMobile"></i>
                                <i class="far fa-times p-3" style="color  : black;" *ngIf="!menuMobile.showMobile"></i>
                            </div>
                            <div class="menu-action d-lg-none d-md-block d-flex ml-md-3 bg-icon ">
                                <button (click)="menuMobile.onMenu(!menuMobile.show)"
                                    class="btn bg-transparent nav-open-btn "
                                    [ngClass]="{'active': menuMobile.show == false }">
                                    <span class="line line1"></span>
                                    <span class="line line2"></span>
                                    <span class="line line3"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div style="border-bottom: 2px solid #d72631;;"></div> -->
            </div>
        </div>
    </div>
</header>

<div id="menu-mobi" class="menu-mobi menu-mobi-hidden w-100 bg-white">
    <div class="container-main" style="border-bottom: 3px solid var(--color-primary);">
        <div class="container-fluid">
            <div class="row align-items-center py-lg-3 py-1">
                <div class="col-3">
                    <div *ngIf="('company.logo' | translate) != ''">
                        <a [routerLink]="'/'">
                            <img class="logo-header" [defaultImage]="('company.logo' | translate)"
                                [lazyLoad]="('company.logo' | translate)" [title]="('company.logo' | translate)"
                                [alt]="('company.logo' | translate)" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-9">
                    <div class="float-right position-relative d-flex">
                        <div class="ml-md-3 search-action d-lg-none bg-icon"
                            (click)="menuMobile.onShowSearchMobile(!menuMobile.showMobile)">
                            <i class="far fa-search p-3" style="color : black;" *ngIf="menuMobile.showMobile"></i>
                            <i class="far fa-times p-3" style="color  : black;" *ngIf="!menuMobile.showMobile"></i>
                        </div>
                        <div class="menu-action d-lg-none d-md-block d-flex ml-md-3 bg-icon ">
                            <button (click)="menuMobile.onMenu(!menuMobile.show)"
                                class="btn bg-transparent nav-open-btn "
                                [ngClass]="{'active': menuMobile.show == false }">
                                <span class="line line1"></span>
                                <span class="line line2"></span>
                                <span class="line line3"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-menu-mobile class="d-lg-none d-block" (menumobile)="menuMobile.onMenu(!menuMobile.show)"></app-menu-mobile>
</div>

<div id="search-mobi" class="search-mobi menu-mobi-hidden w-100 bg-white">
    <div class=" mx-3 ">
        <div class="input-field  position-relative">
            <input id="search" class="border  w-100 rounded  search-input-mobile" autocomplete="off" name="input"
                type="text" placeholder="{{ 'FESearch.titleSearch' | translate }}" [(ngModel)]="search.value"
                (keyup.enter)="search.onSearch()">
            <i class="far fa-search  search-icon" (click)="search.onSearch()"></i>
        </div>
    </div>
</div>