<div class="place bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-page">
                        <h2>{{ contact.data.name }}</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb bg-transparent border-0 m-0 p-0"
                                *ngIf="contact.data.name && contact.data.name.length > 0">
                                <li class="breadcrumb-item " aria-current="page">
                                    <a [routerLink]="['/']" routerLinkActive="router-link-active">
                                        {{ 'lblHome' | translate }}
                                    </a>
                                </li>
                                <li class="breadcrumb-item " aria-current="page"
                                    *ngIf="contact.data.parent_name && contact.data.parent_name != ''">
                                    <a [routerLink]="['/']" routerLinkActive="router-link-active">
                                        {{ contact.data.parent_name }}
                                    </a>
                                </li>
                                <li class="breadcrumb-item active " aria-current="page">{{ contact.data.name }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="place-top" *ngIf="contact.data.name && contact.data.name.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row ">
                <div class="col-md-6">
                    <div class="title-contact mb-3">
                        <span class="br-text d-flex align-items-center">{{ 'FEContact.support'| translate }}</span>
                    </div>
                    <h3 class="font-weight-bold" style="font-size: 20px;">{{ 'FEContact.titleForm'| translate }}</h3>
                    <form [formGroup]="fm" *ngIf="fm">
                        <div class="form-group">
                            <label>{{ 'FEContact.name' | translate }}</label>
                            <input type="text" autocomplete="off" class="form-control" name="name"
                                formControlName="name">
                            <small style="color:red" *ngIf="fm.get('name').invalid && fm.get('name').touched">{{
                                'message.required'|translate }}</small>
                        </div>
                        <div class="d-md-flex">
                            <div class="form-group w-100 mr-3">
                                <label>{{ 'FEContact.email' | translate }}</label>
                                <input type="email" autocomplete="off" class="form-control" name="email"
                                    formControlName="email">
                                <small style="color:red" *ngIf="fm.get('email').invalid && fm.get('email').touched">{{
                                    'message.email'|translate }}</small>
                            </div>
                            <div class="form-group w-100">
                                <label>{{ 'FEContact.phone' | translate }}</label>
                                <input type="text" autocomplete="off" class="form-control" name="phone"
                                    formControlName="phone">
                                <small style="color:red" *ngIf="fm.get('phone').invalid && fm.get('phone').touched">{{
                                    'message.phone'|translate }}</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ 'FEContact.subject' | translate }}</label>
                            <input type="text" autocomplete="off" class="form-control" name="subject"
                                formControlName="subject">
                            <small style="color:red" *ngIf="fm.get('subject').invalid && fm.get('subject').touched">{{
                                'message.required'|translate }}</small>
                        </div>
                        <div class="form-group">
                            <label>{{ 'FEContact.message' | translate }}</label>
                            <textarea type="text" autocomplete="off" name="message" rows="4" formControlName="message"
                                class="form-control h-4"></textarea>
                            <small style="color:red" *ngIf="fm.get('message').invalid && fm.get('message').touched">{{
                                'message.required'|translate }}</small>
                        </div>
                    </form>
                    <div class=" text-right pt-3">
                        <button type="button" class="btn btn-contact animation-contact animated"
                            (click)="contact.addContact()">
                            {{ 'FEbtn.send' | translate }}
                            <i class="fas fa-paper-plane  ml-1"></i>
                        </button>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="title-contact mb-3">
                        <span class="br-text d-flex align-items-center">{{ 'FEContact.titleInfo'| translate }}</span>
                    </div>
                    <h4 class="font-weight-bold my-3">
                        {{ 'FECompanyName' | translate }}
                    </h4>
                    <p style="line-height: 1.5;">
                        {{ 'FEDescription' | translate }}
                    </p>

                    <div class=" detail-page" id="contentDetail"
                        *ngIf="contact.data.detail && contact.data.detail.length > 0"
                        [innerHTML]="contact.data.detail | sanitizeHtml">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="map-contact pt-5" [innerHTML]="('FEMap'|translate) | sanitizeHtml"></div>
</div>