.blog-detail {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.right-asidebar {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    border: #eee solid 1px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.right-asidebar h3 {
    background: #144969;
    padding-left: 40px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
}

.category {
    list-style: none;
    padding: 0;
}

.category a {
    color: #212529;
    font-size: 16px;
}

.category a:hover {
    color: var(--color-primary);
    cursor: pointer;
    text-decoration: none;
}

/* // */

.rightsticky {
    position: sticky;
    top: 110px;
}

strong,
.description {
    font-weight: 700;
}

.card-header {
    background-color: var(--color-primary);
    height: 100pxp;
    color: #fff;
    font-weight: 700;
}

.info-container {
    bottom: 0px;
    width: calc(100% - 2rem);
    background-color: rgba(0, 0, 0, 0.5);
}

.description {
    font-weight: bold;
    font-size: 1.1rem;
}

.detail-keyword {
    padding-top: 4px;
    padding-bottom: 4px;
}

@media (max-width: 415px) {
    .detail-news h2 {
        font-size: 25px;
    }
    .content-detail-name {
        font-size: 1.4rem;
    }
    .info-container span,
    .info-container span i {
        font-size: 0.8rem;
    }
    .description {
        font-size: 1rem;
    }
}

@media (max-width: 376px) {
    .fz-13 {
        font-size: 13px;
    }
}
