<div class="place bg-light">
    <div class="container-main">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-9 ">
                    <div class="blog-detail p-3 p-md-4 bg-white">
                        <h3 class="font-weight-bold content-detail-name">{{ data.name }}</h3>
                        <div class="d-md-flex ">
                            <span class="text-muted font-italic mr-3 mr-md-5 fz-13">
                                <i class="fas fa-calendar-alt mr-2"></i>{{ data.maker_date |date:'dd-MM-yyyy' }}
                            </span>
                            <span class="text-muted font-italic mr-3 mr-md-5 fz-13">
                                <i class="far fa-folder-open mr-2"></i>{{ data.parent_name }}
                            </span>
                            <span class="tbext-muted font-italic fz-13">
                                <i class=" fas fa-eye mr-2"></i>{{ data.views }}
                            </span>
                        </div>
                        <div class="detail-news pt-4">
                            <div class="text-justify">
                                <div class="description font-italic mb-3"
                                     *ngIf="data.description && data.description != ''"
                                     id="data"
                                     [innerHTML]="data.description | sanitizeHtml">
                                </div>
                                <div class="content-page "
                                     *ngIf="data.detail && data.detail != ''"
                                     [innerHTML]="data.detail | sanitizeHtml">
                                </div>
                                <div class="text-right font-weight-bold"
                                     *ngIf="data.source && data.source != ''">
                                    <span>{{ 'FEContents.lblFollow' | translate }}<span>{{ data.source }}</span></span>
                                </div>
                                <div class="d-flex flex-wrap align-items-center mce-text mt-2"
                                     *ngIf="data.keywords && data.keywords.length > 0">
                                    <i class="fas fa-tags mr-3 text-black-50"></i>
                                    <div class="detail-keyword bg-white border border-success small mb-1 mr-2 px-2"
                                         *ngFor="let keyword of data.keywords">
                                        {{ keyword }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- TIN TUC LIEN QUAN  -->
                <div class="col-md-3 pl-md-0 pt-4 pt-md-0">
                    <div class="right-asidebar bg-white">
                        <h3 class="mb-0 text-uppercase">{{ 'FEContents.relatednews'| translate }}</h3>
                        <div class=" p-3">
                            <div class="mb-2"
                                 *ngFor="let row of data.related;">
                                <box-content-grid [item]="row"
                                                  [images]="true"
                                                  [border]="!isLast"></box-content-grid>
                            </div>
                            <div *ngIf="!data.related || data.related.length == 0">
                                <h6 class="text-center">{{ 'lblUpdating' | translate }}</h6>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>