<div class="card">
    <div class="card-header"
         style="cursor: pointer;">
        <strong>{{ 'products.title' | translate }}</strong>
        <div class="float-md-right d-flex">
            <div class="input-group input-group-sm">
                <input type="text"
                       (keyup)="tableproduct._search()"
                       [(ngModel)]="tableproduct.search.value"
                       class="form-control"
                       placeholder="{{ 'search.txt'|translate }}">
            </div>

        </div>
    </div>
    <div style="overflow-x:auto;">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="pointer"
                        *ngFor="let col of tableproduct.cols"
                        (click)="tableproduct._sorting(col.field)"
                        [ngClass]="{ 'sorting' : tableproduct.sorting.field==col.field ,'cursor-pointer': col.filter==true  , 'hide' : col.show==false }">
                        <div [(ngSwitch)]="col.field">
                            <div *ngSwitchCase="'action'">{{ col.title | translate }}</div>
                            <span *ngSwitchDefault>{{ col.title | translate }}</span>
                            <i *ngIf="tableproduct.sorting.field==col.field"
                               class="fa"
                               [ngClass]="{ 'fa-long-arrow-down' : tableproduct.sorting.sort=='asc' , 'fa-long-arrow-up' : tableproduct.sorting.sort=='desc' }"></i>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tableproduct.data ; let v = index">
                    <td *ngFor="let col of tableproduct.cols"
                        [ngClass]="{ 'hide' : col.show==false }">
                        <div [(ngSwitch)]="col.field">
                            <span *ngSwitchCase="'index'">{{ v+1 }}</span>
                            <span *ngSwitchCase="'name'"
                                  style="width:200px;"
                                  class="nav-link">{{ item[col.field] }}</span>
                            <span *ngSwitchCase="'images'"
                                  class="nav-link">
                                <img style="width:50px;"
                                     [src]="(item[col.field] && item[col.field].length > 3) ? globals.BASE_API_URL+'public/products/'+item[col.field] : ''">
                            </span>
                            <span *ngSwitchCase="'price_sale'">
                                <div *ngIf="item.price_sale && +item.price_sale > 0">
                                    S:{{ item.price_sale | number : '1.0-3' }} </div>
                                <div *ngIf="item.price_buy && +item.price_buy > 0">
                                    P:{{ item.price_buy | number : '1.0-3' }} </div>
                            </span>
                            <div *ngSwitchCase="'maker_date'"
                                 class='display-action '>
                                {{ item[col.field]| date: 'dd/MM/yyyy' }}
                            </div>
                            <span *ngSwitchCase="'action'"
                                  class='display-action text-right'>
                                <button class="btn btn-link btn-sm "
                                        [routerLink]="['../update/',item.id]">
                                    <i class="fas fa-pencil-alt text-dark"></i>
                                </button>
                                <button class="btn btn-link btn-sm "
                                        (click)="onRemove(item)">
                                    <i class="fas fa-trash text-danger"></i>
                                </button>
                            </span>
                            <span *ngSwitchCase="'status'"
                                  [ngClass]=" item[col.field]  == 1 ? 'text-success' : 'text-danger' ">
                                {{ (item[col.field] == 1 ? 'status.active' : 'status.disabled') | translate }}
                            </span>
                            <span *ngSwitchDefault
                                  style="max-width:200px;">{{ item[col.field] }}</span>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer">
        <div class="float-md-left">
            <span>{{ tableproduct.settings.first }} - {{ tableproduct.settings.last }} of
                {{ tableproduct.settings.total }}</span>
            <span>
                <a (click)="tableproduct._previousnext(false)"
                   style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-left"
                       aria-hidden="true"></i>
                </a>
                <a (click)="tableproduct._previousnext(true)"
                   style="padding : 3px 5px;">
                    <i class="fa fa-angle-double-right"></i>
                </a>
            </span>
        </div>
    </div>
</div>
<div class="fixed-action-btn text-center">
    <a [routerLink]="['../insert']"
       class="text-white "
       style="text-decoration: none">
        <div class="getlistadd d-flex align-items-center justify-content-center">
            <i class="fas fa-plus"></i>
        </div>
    </a>
</div>