.box-room {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.image-room img {
    width: 200px;
    border-radius: 3;
}

.price {
    text-decoration: line-through;
}

.remove {
    top: -7px;
    right: -7px;
    z-index: 1;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    transition: .3s;
}

.edit {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #3ea662;
    top: 20%;
    left: 43%;
    transition: .3s;
    opacity: 0;
}

.box-room:hover .edit {
    opacity: 1;
    transition: .3s;
}