<div class="bg-white box-product border">
    <div class="images bg-light">
        <a [routerLink]="[ '/san-pham/' + item.parent_link + '/' +item.link]" class="nav-link p-0">
            <img [lazyLoad]="item.images" [alt]="item.name"
                [defaultImage]="'../../../../assets/img/default_product.png'" width="100%" height="100%"
                style=" border-radius: 8px 8px 0 0!important;" />
        </a>
    </div>
    <div class="px-2 mt-2">
        <h4 class="name text-capitalize mb-1">
            <a [routerLink]="[ '/san-pham/' + item.parent_link + '/' +item.link]" class="nav-link p-0 text-body">
                {{item.name }}
            </a>
        </h4>
        <div class="mb-3 small text-muted">{{ item.views }} lượt xem</div>
        <div class="price">
            <div class="d-inline bg-danger bg-contact" *ngIf="!item.price || +item.price == 0">
                {{ 'lblContact' | translate }}
            </div>
            <div class="text-danger font-weight-bold price-sale" *ngIf="item.price && +item.price > 0">
                {{ (+item.price_sale > 0) ? ((+item.price_sale).toLocaleString('vi') ) :
                ((+item.price).toLocaleString('vi') ) }} ₫
            </div>
            <div class="d-flex align-items-center" *ngIf="item.price_sale && +item.price_sale > 0">
                <span class="badge bg-danger font-weight-normal p-1 text-white mr-1 mr-md-2">
                    {{ 'lblReduction' | translate }} {{ item.percent | number : '1.0-0' }}%
                </span>
                <span class="price-default text-muted p-1">
                    {{ ((+item.price).toLocaleString('vi') ) }} đ
                </span>
            </div>
        </div>
    </div>
</div>